.add {
  background-color: rgb(45, 114, 114);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 60px;
  margin-bottom: 70px;
}

.lib {
  display: flex;
  justify-content: center;
}

.btnAdd {
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
  background-color: #4caf50;
  color: #ffffff;

  &:hover {
    background-color: #0d9825;
  }

  &:active {
    background-color: #0d9825;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
