.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: deepskyblue;
  max-height: 60px;
  background-color: rgba(73, 48, 72, 0.8);
  backdrop-filter: blur(10px);
  .logo {
    font-weight: 700;
    background-clip: text;
    font-size: 25px;
    background: url("../../images/backLogo.png") repeat-y;
    background-size: 1500px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 110s linear infinite;
    border-radius: 8px;
    padding: 5px 8px;
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
    border: none;
    margin: 20px 0;
  }
  @keyframes anim {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }
  @-webkit-keyframes anim {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }
}
.btnTrain{
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(21, 176, 75);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  color: rgb(45, 114, 114);
}
.buttonLogout {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;

  background-color: rgb(45, 114, 114);
  color: #ffffff;

  &:hover {
    background-color: #8e3e49;
  }

  &:active {
    background-color: #8e3e49;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
.name {
  color: orangered;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline 1px dashed white;
}
