.tableF {
  min-height: 200px;
}
.trpl {
  display: flex;
  justify-content: center;
}
.trainCont {
  width: 928px;
  margin-right: 100px;
}
.formDate {
  display: flex;
  align-items: center;
}
.textTrain {
  text-transform: capitalize;
  background-color: grey;
  border-radius: 3px;
  text-align: center;
  color: tan;
  padding: 20px;
}
.goalBox {
  width: 288px;
}
.goalText {
  background-color: grey;
  border-radius: 3px;
  text-align: center;
  color: tan;
  padding: 20px;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statValue {
  font-size: 24px;
  font-weight: bold;
}

.statLabel {
  margin-top: 5px;
}
.boxBook {
  display: flex;
  justify-content: space-between;
}
.inputBook {
  width: 715px;
}
.btnAddBook {
  width: 181px;
  margin-left: 40px;
  border-radius: 3px;
  color: rgb(49, 205, 31);
  font-size: 20px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #ead6d9;
  }

  &:active {
    background-color: #decbce;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.tableF {
  width: 1000px;
  height: 50px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
}

.chartResCont {
  display: flex;
  justify-content: space-around;
 
}
.chartContainer {
  min-width: 928px;
  min-height: 340px;
}
.resultCont {
  display: flex;
  width: 288px;
  background-color: grey;
  border: 2px;
  border-radius: 5px;
}

.inputCont {
  display: flex;
  width: 180px;
  border-collapse: collapse;
}
